/* Setting padding and margin zero to reset Browser's settings  */
*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Lato",sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
}
.header{
    height: 95vh;
    background-size: cover;
    background-image: url("../img/hero.jpg");

}
