/* Setting padding and margin zero to reset Browser's settings  */
*,
*::after,
*::after{
    margin : 0;
    padding: 0;
    /* This will make all elements of body to inherit the box-sizing property */
    /* It's a slightly better practice to put it in body tag */
    /* Doesn't make much difference though */
    box-sizing: inherit;
}
html{
    /* Settting font-size 62.5%(10px/16px) to use rem further easily */
    /* Now, 1rem = 10px so calculations become easier like 150px = 15rem */
    font-size: 62.5%;

    
   
   
    @include respond(big-desktop){
        font-size: 75%;            // 1rem = 12, 12/16 = 75%
    }
    
    @include respond(tab-land){
        font-size: 56.25%;         //1rem = 9px, 9/16 = 56.25%
    }
    @include respond(tab-port){
        font-size: 50%;         //1rem = 8px, 8/16 = 50% 
    }
}
body{
    padding:3rem;
    box-sizing: border-box; 
    @include respond(tab-port){
        padding: 0;
    }
}